/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #72746e;
  color: hsl(247, 88%, 44%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  display: inline;
  margin-left: 20px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* ACTIVE MENU */
.nav-link.active {
  color: yellow;
  border-bottom: 2px solid yellow;
  padding-bottom: 4px;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 120px 20px;
  text-align: center;
}

.home {
  background: hsl(20, 95%, 38%);
}

.about {
  background: hsl(259, 87%, 30%);
}

.contact {
  background: hsl(130, 92%, 34%);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  #navbar {
    flex-direction: column;
  }

  #navbar ul li {
    display: block;
    margin: 10px 0;
  }
}

